.track-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-dark-primary);
}

.track-card{
    margin: 10px;
    width: 100%;
    background-color: var(--bg-dark-surface);
    color: var(--txt-primary)
}

.track-card:hover{
    background-color: var(--bg-on-hover);
}

.album-page-container{
    background-color: var(--bg-dark-primary);
    padding: 8vw;
}

.album-top{
    display: flex;
    flex-direction: column;
}

.album-top-image-container{
    display: flex;
    height: 30vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.album-top-image{
    width: 50vw;
    height: 50vw;
}

.album-detail{
    display: flex;
    color: white;
}

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 200px;
    height: 25px;
}

.album-list{
    margin-bottom: 20px;
}

.flex-row{
    flex-direction: row;
}

.empty{
    font-weight: 900;
}

.icon{
    background: none;
    color: #FFF;
    border: none;
}